.chevron-left-icon::before {
  content: '';
  display: block;
  width: 2px;
  height: 8px;
  background-color: rgba(0, 255, 0, 0.8);
  transform: rotate(-35deg);
  transform-origin: bottom left;
}
.chevron-left-icon::after {
  content: '';
  display: block;
  width: 2px;
  height: 8px;
  background-color: rgba(0, 255, 0, 0.8);
  transform: rotate(35deg);
  transform-origin: top right;
}
